.cakeadd {
    margin: 1.5em;
}
  
.panel .panel-heading {
    background-color: darkgray;
    color: white;
}
  
.panel .panel-body {
    padding: 2em;
}
  
.cakeadd--button {    
    text-align: center;
    margin: 1em;
}
 