table{
  width: 100%;  
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  padding: 15px;
  text-align: center;
}

table#cake tr:nth-child(even) {
  background-color: #eee;
}
table#cake tr:nth-child(odd) {
 background-color: #fff;
}

table#cake th {
  background-color: darkgray;
  color: white;
}