.cake--add {
    margin: 1.5em;
}
  
.panel .panel-heading {
    background-color: darkgray;
    color: white;
}
  
.panel .panel-body {
    padding: 2em;
}
  
.cake--add button {
    width: 20em;
}
 